/* Jalynn K. Smith June 26, 2026 Module 6 */

body {background-color:rgb(254, 254, 254); font-family: serif; color: rgb(0, 0, 0);}
h1 { color:rgb(147, 90, 217);}
h2 { color:rgb(156, 156, 170);}
p { color:rgb(0, 0, 0);}
a { color:rgb(147, 90, 217);}
nav {font-size: 20pt;}
